<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="citizen-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Grades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h6 class="body-header">BACHELOR DEGREE IN ACCOUNTING</h6>

  <div class="section-header">
    <ion-icon class="logo-icon" style="margin-right: 5px;" name="caret-forward-outline"></ion-icon>
    <span>GENERAL REQUIREMENTS</span>
  </div>
  <div class="e-list">

    <div class="e-item">
      <div>Introduction to Arabic Language</div>
      <div class="passed">80 <div class="grade"> (B)</div>
      </div>
    </div>

    <div class="e-item">
      <div>Advanced Academic English</div>
      <div class="passed">74 <div class="grade"> (C)</div>
      </div>
    </div>

    <div class="e-item">
      <div>Creative Writing and Research</div>
      <div class="passed">95 <div class="grade">(A+)</div>
      </div>
    </div>

    <div class="e-item">
      <div>English Communication Skills</div>
      <div class="passed">60 <div class="grade"> (D)</div>
      </div>
    </div>

    <div class="e-item">
      <div>Introduction to Computers</div>
      <div class="failed">48 <div class="grade"> (F)</div>
      </div>
    </div>

    <div class="e-item">
      <div>Cultural Studies</div>
      <div class="passed">81 <div class="grade"> (B)</div>
      </div>
    </div>

  </div>

  <div class="section-header">
    <ion-icon class="logo-icon" style="margin-right: 5px;" name="caret-forward-outline"></ion-icon>
    <span>FACULTY DEPARTMENT REQUIREMENTS</span>
  </div>
  <div class="e-list">

    <div class="e-item">
      <div>Business Accounting I</div>
      <div class="passed">86 <div class="grade">(B+)</div>
      </div>
    </div>

    <div class="e-item">
      <div>Intro to Business Law</div>
      <div class="passed">97 <div class="grade">(A+)</div>
      </div>
    </div>

    <div class="e-item">
      <div>Business Essentials and Entrepreneurship</div>
      <div class="passed">72 <div class="grade"> (C)</div>
      </div>
    </div>

    <div class="e-item">
      <div>E-Business</div>
      <div class="passed">76 <div class="grade">(C+)</div>
      </div>
    </div>

    <div class="e-item">
      <div>Introduction to Microeconomics</div>
      <div class="passed">50 <div class="grade"> (F)</div>
      </div>
    </div>

    <div class="e-item">
      <div>Introduction to Macroeconomics</div>
      <div class="passed">69 <div class="grade">(D+)</div>
      </div>
    </div>

    <div class="e-item">
      <div>Business Finance</div>
      <div class="passed">88 <div class="grade">(B+)</div>
      </div>
    </div>

    <div class="e-item">
      <div>Human Resources Management</div>
      <div class="passed">74 <div class="grade"> (C)</div>
      </div>
    </div>

    <div class="e-item">
      <div>Business Math</div>
      <div class="passed">84 <div class="grade"> (B)</div>
      </div>
    </div>

  </div>

  <div class="section-header">
    <ion-icon class="logo-icon" style="margin-right: 5px;" name="caret-forward-outline"></ion-icon>
    <span>MAJOR REQUIREMENTS</span>
  </div>
  <div class="e-list">

    <div class="e-item">
      <div>Business Accounting II</div>
      <div class="failed">49 <div class="grade">(F)</div>
      </div>
    </div>

    <div class="e-item">
      <div>Cost Management and Control</div>
      <div class="passed">74 <div class="grade">(C)</div>
      </div>
    </div>
    <div class="e-item">
      <div>Taxation & Accounting Regulations</div>
      <div class="passed">96 <div class="grade">(A+)</div>
      </div>
    </div>
    <div class="e-item">
      <div>Feasibility Study and Budgeting</div>
      <div class="passed">98 <div class="grade">(A+)</div>
      </div>
    </div>
    <div class="e-item">
      <div>Intermediate Accounting Principles</div>
      <div class="passed">86 <div class="grade">(B+)</div>
      </div>
    </div>
    <div class="e-item">
      <div>AUDITING</div>
      <div class="passed">79 <div class="grade">(C+)</div>
      </div>
    </div>
    <div class="e-item">
      <div>Accounting for Business Combinations</div>
      <div class="passed">80 <div class="grade">(B)</div>
      </div>
    </div>
    <div class="e-item">
      <div>International Financial Reporting Standards</div>
      <div class="passed">74 <div class="grade">(C)</div>
      </div>
    </div>

  </div>

</ion-content>
